<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img width="80" src="https://hackathonkrakow.com/images/logo_top.png">
      </a>
      <a class="navbar-brand" href="#">Hackathon Bank</a>
    </div>
    <div class="collapse navbar-collapse" *ngIf="isLoggedIn | async">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']"><a [routerLink]="['home']" href="#">Home<span class="sr-only"></span></a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['payment']" href="#">New payment<span class="sr-only"></span></a></li>
      </ul>
      <div class="pull-right">
        <ul class="nav navbar-nav">
          <li>
          <button [routerLink]="['login']" type="submit" class="btn navbar-btn btn-danger" name="logout" id="logout" value="Log Out">Log Out</button>
            
          </li>
        </ul>
      </div>      
    </div>    
   
  </div>
</nav>

<div class="container-fluid">
  <div class="col-md-10 col-md-offset-1">
    <alert></alert>
    <router-outlet></router-outlet>
  </div>
</div>

<div class="text-center">
  <p>
    <a href="https://hackathonkrakow.com/" target="_top">Hackathon Krakow</a>
  </p>
</div>
