<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img width="80" src="https://hackathonkrakow.com/images/logo_top.png">
        </a>
        <a class="navbar-brand" href="#">Hackathon Bank</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Transfer<span class="sr-only">(current)</span></a></li>
          </ul>
      </div>
    </div>
  </nav>

<div class="container-fluid" (mouseover)="captureCoordinate($event)" (click)="captureCoordinate($event)">
  <div class="row">
    <div class="col-md-8">
      <form class="form-horizontal">
        <div class="col-md-6">
          <div class="form-group">
                <label for="inputEmail3" class="col-md-3 control-label">From</label>
                <div class="col-md-9 input-group">
                  <input type="text" class="form-control" id="inputEmail3" placeholder="From">
                </div>
          </div>
          <div class="form-group">
              <label for="inputPassword3" class="col-md-3 control-label">Amount</label>
              <div class="col-md-9 input-group">
                <input type="text" class="form-control" id="inputPassword3" placeholder="Amount">
                <div class="input-group-addon">PLN</div>
              </div>
             
            </div>
        </div>        
        <div class="col-md-6">         
          <div class="form-group">
            <label for="inputPassword3" class="col-md-3 control-label">To</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="inputPassword3" placeholder="To">
            </div>
          </div>
          <div class="form-group">
              <label for="inputPassword3" class="col-md-3 control-label">Name</label>
              <div class="col-md-9">
                  <input type="text" class="form-control" id="inputPassword3" placeholder="Name">
              </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-md-3 control-label">Narrative</label>
                <div class="col-md-9">
                    <textarea class="form-control" rows="3"></textarea>                    
                </div>
              </div>
        </div> 
        <div class="form-group">
            <div class="col-md-offset-8 col-md-10">
              <button type="submit" class="btn btn-default"(click)="send($event) >Send</button>
            </div>
          </div>
      </form>      
    </div>
  </div>
</div>
